@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.car {
  animation: runCar linear 0.5s infinite;
}

@keyframes runCar {
  0% {
    transform: translateY(-1px);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(1px);
  }
  100% {
    transform: translateY(1px);
  }
}

.street {
  animation: streetWind linear 0.4s infinite;
}

@keyframes streetWind {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-800px);
  }
}

.css-scroll::-webkit-scrollbar {
  width: 3px !important;
  position: absolute;
}

.css-scroll::-webkit-scrollbar-track {
  background: #d6d6d6;
  border-radius: 10px;
}

.css-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(#ff1818, #be9bd7);
  border-radius: 10px;
}
